.option-select {
  background-color: #1f2937;
  color: #ffffff !important;
  min-height: 36px;
}
.custome-class {
  direction: ltr;
  .timepicker__header {
    padding: 0px 30px !important;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }
  .timepicker-dial__control {
    font-size: 20px !important;
  }

  .timepicker-dial {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    height: 44px;
  }
}
::ng-deep {
  /* Change the color of the selected text */
  .mat-select-value-text {
    color: white !important; /* Force the color to white */
  }

  /* Remove the shadow from the selected value area */
  .mat-select {
    &.mat-select {
      .mat-select-value {
        background-color: transparent; /* Make background transparent */
        box-shadow: none; /* Remove any shadow */
      }
    }
  }
}

.place-order:hover {
  transform: scale(1.1); // Slight zoom effect
  transition: transform 0.4s ease-in-out; // Smooth animation
}
