/* Default styles for larger screens */
@media (min-width: 768px) {
    .flex {
      /* Use flex layout for larger screens */
      display: flex;
    }
    .cart-div {
      /* Take up half width on larger screens */
      width: 50%;
    }
  }
  
  /* Styles for smaller screens (mobile) */
  @media (max-width: 767px) {
    .flex {
      /* Override flex layout for smaller screens */
      display: block;
    }
    .cart-div {
      /* Take up full width on smaller screens */
      width: 100%;
      margin-bottom: 20px; /* Optional: Add margin between items */
    }
  }
  
  .cart-div .bg-cover {
    background-size: cover;
    background-position: center;
  }
  

  .btn {
    background-color: #ffffff; /* Green */
    border: none;
    color: #181818;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif !important;
    // margin: 4px 8px !important;
    position: absolute;
    bottom: 10%; 
    right: 17%; 
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
  }
  
  .btn:hover {
    background-color: #ffffff; 
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  