<div class="flex">
  <div class="w-1/2 cart-div p-4" (click)="routeToProduct('BITE')" style="cursor: pointer;">
    <div class="relative rounded-lg overflow-hidden" style="height: 300px;">
      <img class="w-full h-full object-cover" src="../../../../../assets/images/BITE.png" alt="Image 1">
      <div class="overlay">
        <button (click)="routeToProduct('BITE')" class="btn">
          Shop Bites Now 
          <img src="assets/icons/cart.svg" alt="Cart" class="icon" style="filter: grayscale(1) brightness(0) invert(1)">
        </button>
      </div>
      
    </div>
  </div>

  <div class="w-1/2 cart-div p-4" (click)="routeToProduct('BEVERAGES')" style="cursor: pointer;">
    <div class="relative rounded-lg overflow-hidden" style="height: 300px;">
      <img class="w-full h-full object-cover" src="../../../../../assets/images/BEVERAGER.png" alt="Image 2">
      <div class="overlay">
        <button (click)="routeToProduct('BEVERAGES')" class="btn">Shop Beveragers Now
          <img src="assets/icons/cart.svg" alt="Cart" class="icon" style="filter: grayscale(1) brightness(0) invert(1)">
        </button>
      </div>
    </div>
  </div>
</div>
