/* Default styles for larger screens */
@media (min-width: 768px) {
    .flex {
      /* Use flex layout for larger screens */
      display: flex;
    }
    .cart-div {
      /* Take up half width on larger screens */
      width: 50%;
    }
  }
  
  /* Styles for smaller screens (mobile) */
  @media (max-width: 767px) {
    .flex {
      /* Override flex layout for smaller screens */
      display: block;
    }
    .cart-div {
      /* Take up full width on smaller screens */
      width: 100%;
      margin-bottom: 20px; /* Optional: Add margin between items */
    }
  }
  
  .cart-div .bg-cover {
    background-size: cover;
    background-position: center;
  }
  

  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    // margin: 4px 8px !important;
    position: absolute;
    bottom: 50%; 
    left: 20%; 
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #45a049; /* Darker Green */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  