<div class="w-140 mt-24 m-auto lg:mt-16 max-w-sm"> <!-- Adjusted width for card -->
  <img [src]="product.img" alt="Food Image"
  class="rounded-t-2xl shadow-2xl lg:w-full 2xl:w-full object-cover"
  style="max-height: 200px;" />
 <!-- Larger image height -->
    <div class="bg-gray-800 backdrop-filter backdrop-blur-md bg-opacity-40 shadow-2xl rounded-b-3xl">


<h2 class="text-center text-white text-3xl font-bold pt-6">LKR {{ product.price }}</h2> <!-- Dish name -->

<div class="text-center mt-3 mx-auto max-w-xs">
  <mat-form-field class="example-full-width" style="width: 100px;">
    <mat-label class="text-white">Person Count</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           [(ngModel)]="cartModel.personCount"
           (change)="onChange(product)">
    <mat-autocomplete style="background-color: blue;" autoActiveFirstOption #auto="matAutocomplete" class="dark-dropdown-bg" (optionSelected)="onChange(product)">
      <mat-option *ngFor="let option of filteredOptions | async; trackBy: trackOption" [value]="option">{{ option }}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>





      <div class="text-center m-auto mt-3 w-full col-span-3 pt-1">
        <button class="text-gray-500 font-bold text-sm focus:outline-none mb-2"
          (click)="product.showIngredients = !product.showIngredients">
          Ingredients <span class="inline-block">{{ product.showIngredients ? '▲' : '▼' }}</span>
        </button>
        <div *ngIf="product.showIngredients" class="flex flex-wrap gap-2 justify-center">
          <div class="bg-gray-200 rounded-full py-1 px-3 text-sm text-gray-800"
            *ngFor="let ingredient of product.ingredients">{{ ingredient.description }}</div>
        </div>
      </div>

      <h2 class="text-center text-white text-2xl font-bold pt-6">{{ product.mealName }}</h2> <!-- Dish name -->


      
      <div class="text-center m-auto mt-4 w-full h-8">
        <!-- <button
          class="text-white bg-blue-700 hover:bg-indigo-600 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-bold rounded-lg text-sm px-6 py-2 text-center">Add
          to Cart</button>
        <button
          class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-green-300 font-bold rounded-lg text-sm px-6 py-2 ml-4 text-center">Order
          Now</button> -->

          <div class="mx-auto h-12 w-auto flex justify-center items-center relative">
            <button (click)="scheduleOrder()" class="bg-gradient-to-br from-blue-500 to-blue-700 hover:from-blue-600 hover:to-blue-800 text-white font-bold py-2 px-6 rounded-full focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
              <div class="flex items-center">
                <!-- You can include an icon here if needed -->
                <img src="assets/icons/checkout.png" style="fill: antiquewhite;" alt="Add to Cart" class="w-5 h-5 mr-2" />
                <span>Add to Cart</span>
              </div>
            </button>
          </div>
          
          
          
          

        <!-- //button end -->

      </div>
      <div class="text-center m-auto mt-4 w-full h-2"></div>
    </div>
  </div>