<!-- <div class="flex-1 overflow-y-auto">
  <div id="swiper" class="swiper-container-1 relative overflow-hidden">
    <div class="swiper-wrapper flex">
      <div class="swiper-slide-1 flex-shrink-0">
        <div>
          <img src="../assets/images/banner2.png" alt="Image 1" class="w-full h-auto sm:h-full object-cover">
        </div>
      </div>
      <div class="swiper-slide-1 flex-shrink-0">
        <img src="../assets/images/banner1.png" alt="Image 2" class="w-full h-auto sm:h-full object-cover">
      </div>
      <div class="swiper-slide-1 flex-shrink-0">
        <img src="../assets/images/banner3.png" alt="Image 3" class="w-full h-auto sm:h-full object-cover">
      </div>
    </div>
    <div class="swiper-pagination-1"></div>
    <div class="swiper-button-prev-1"></div>
    <div class="swiper-button-next-1"></div>
  </div>
</div> -->

<!-- <div style="height: 10vh; width: 100%;"></div> -->
<div class="swiper-slide-1 flex-shrink-0">
  <div class="img-banner">
  <img src="../assets/images/main_banner.jpg" alt="Image 2" >
  <!-- <button (click)="productSection('BITE')"  class="btn-order" >Order Now</button> -->
  <!-- <button (click)="productSection('BITE')" class="order-now-button">Order Now</button> -->

</div>
</div>