<div class="flex-1 overflow-y-auto">
  <div id="swiper" class="swiper-container-1 relative overflow-hidden">
    <div class="swiper-wrapper flex">
      <!-- Slides -->
      <div class="swiper-slide-1 flex-shrink-0">
        <div>
          <img src="../assets/images/banner1.png" alt="Image 1" class="w-full h-auto sm:h-full object-cover">
        </div>
      </div>
      <div class="swiper-slide-1 flex-shrink-0">
        <img src="../assets/images/banner2.png" alt="Image 2" class="w-full h-auto sm:h-full object-cover">
      </div>
      <div class="swiper-slide-1 flex-shrink-0">
        <img src="../assets/images/banner3.png" alt="Image 3" class="w-full h-auto sm:h-full object-cover">
      </div>
      <!-- More slides as needed -->
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
