<div class="flex-1 overflow-y-auto">
    <div #swiper class="swiper-container relative overflow-hidden h-full">
      <div class="swiper-wrapper flex">
        <div class="swiper-slide flex-shrink-0">
          <img src="../assets/images/banner1.png" alt="Image 1" class="w-full h-auto">
        </div>
        <div class="swiper-slide flex-shrink-0">
          <img src="../assets/images/banner2.png" alt="Image 2" class="w-full h-auto">
        </div>
        <div class="swiper-slide flex-shrink-0">
          <img src="../assets/images/banner3.png" alt="Image 3" class="w-full h-auto">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>