<form class="login-side1" (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="login-side1-div">
        <div class="login-side1-row py-6">
            <img class="login-side2-image" src="assets/images/bimbiya_white.png" alt="Logo">
            <h2 class="welcome mt-4">Log in to your account</h2>
        </div>

        <div class="login-side1-row px-4">
            <div class="field-wrapper">
                <label class="text-white text-sm mb-1">Mobile No</label>
                <mat-form-field class="ultra-max-field" appearance="outline">
                    <input matInput 
                           type="text"
                           maxlength="10"
                           placeholder="e.g. 0771234567" 
                           formControlName="mobileNo"
                           (keypress)="onlyNumbers($event)">
                    <mat-icon matSuffix style="color: #ffffff; opacity: 0.7;">phone</mat-icon>
                </mat-form-field>
                <div class="error-container">
                    <small class="text-red-500" *ngIf="mobileNo?.touched && mobileNo?.hasError('required')">Required</small>
                    <small class="text-red-500" *ngIf="mobileNo?.touched && mobileNo?.hasError('pattern')">Format: 07XXXXXXXX</small>
                </div>
            </div>
        </div>

        <div class="login-side1-row px-4 mt-2">
            <div class="field-wrapper">
                <label class="text-white text-sm mb-1">Password</label>
                <mat-form-field class="ultra-max-field" appearance="outline">
                    <input matInput 
                           placeholder="Enter your password" 
                           formControlName="password" 
                           [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button" tabindex="-1">
                        <mat-icon style="color: #ffffff;opacity: 0.7;">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
                <div class="error-container">
                    <small class="text-red-500" *ngIf="password?.touched && password?.hasError('required')">Password required</small>
                </div>
            </div>
        </div>

        <div class="login-side1-row mt-6">
            <button type="submit" 
                    [disabled]="!userForm.valid"
                    class="btn-login btn-animate" 
                    mat-flat-button>
                Login with Bimbiya
            </button>
        </div>

        <div class="login-side1-row register-container pb-6">
            <p class="no-account-text">
                Don't have an account? 
                <span class="register-link" (click)="signUp()">Create Account</span>
            </p>
        </div>
    </div>
</form>