<nav class="bg-gray-800 backdrop-filter backdrop-blur-md bg-opacity-40 py-1 px-4 fixed w-full z-10">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button id="mobileMenu" type="button" (click)="toggleMobileMenu()"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <svg class="hidden  h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div (click)="home()"
          style="cursor: pointer; display: flex;justify-content: center;height: 40px; width: auto;align-items: center;padding: 0;margin: 0;">
          <img  style="display: flex;height: 70px; width: auto;padding: 0;margin: 0;" src="../assets/images/bimbiya.png"
            alt="Your Company">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a routerLink="/delivery/home" routerLinkActive="activated-route"
              class="animate-btn text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing" aria-current="page">Home</a>

            <a routerLink="/delivery/product" routerLinkActive="activated-route"
              class="animate-btn text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing">Product</a>

              <a routerLink="/delivery/about" routerLinkActive="activated-route"
              class="animate-btn text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing">About</a>

              <a routerLink="/delivery/contact-us" routerLinkActive="activated-route"
              class="animate-btn text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing">Contact</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        
        <!-- Cart Button -->
        <div class="relative ml-3">
          <div>
            <button id="cartBtn" (click)="toggleCartMenu()" type="button"
              class="animate-btn relative bg-gray-800 rounded-full p-2 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="sr-only">Cart</span>
              <img src="../assets/icons/cart.svg" alt="Cart" class="h-6 w-6"
                style="filter: grayscale(1) brightness(0) invert(1)">
            </button>

            <span
              class="absolute -top-1 -right-1 bg-red-600 text-white text-[10px] font-bold px-1.5 py-0.5 rounded-full" 
              style="background-color: #ffc001;">
              {{ cartCount }}
            </span>
          </div>
        </div>

        <!-- Cart dropdown -->
        <div class="relative ml-3">
          <div>
            <button id="profileBtn" (click)="toggleProfileSidebar()" type="button"
              class="animate-btn relative bg-gray-800 rounded-full p-2 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="sr-only">Profile</span>
              <img src="../assets/icons/profile.svg" alt="Profile" class="h-7 w-7"
                style="filter: grayscale(1) brightness(0) invert(1)">
            </button>
          </div>

          <!-- Cart Items Dropdown -->
          <div
            class="absolute backdrop-filter backdrop-blur-md bg-opacity-90 right-0 z-10 mt-2 w-72 origin-top-right rounded-md bg-gray-800 py-2 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1"
            [ngClass]="{ block: isCart, hidden: !isCart }">
            <!-- Loop through the itemsList array -->
            <div *ngFor="let item of cartDetailsList"
              class="flex justify-between px-4 py-2 text-sm text-white text-center" role="menuitem">
              <div class="flex justify-center items-center text-center">
                <span>{{ item.mealName }}</span>
              </div>

              <div style="cursor: pointer;">
                <img (click)="cartRemove(item.cartId)" src="assets/icons/ic_delete.svg" alt="">
              </div>
            </div>

            <!-- Checkout button -->
            <div class="w-full flex justify-center">
              <button
                type="button"
                (click)="checkout()"
                style="color: #FFFFFF;"
                class="flex justify-center w-full px-4 py-2 text-sm font-medium text-center inline-flex items-center text-blue-700 rounded-lg transition-all duration-200 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                [style.background]="buttonHover ? '#374151' : 'transparent'"
                (mouseenter)="buttonHover = true"
                (mouseleave)="buttonHover = false">
                
                <img
                  src="assets/icons/checkout.svg"
                  alt="Cart Icon"
                  class="w-5 h-5 me-2"
                  style="filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg) brightness(100%) contrast(100%);" />
                  
                Checkout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu" [ngClass]="{ 'block': isMobileMenuOpen, 'hidden': !isMobileMenuOpen }">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a routerLink="/delivery/home" routerLinkActive="activated-route"
        class="text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing" aria-current="page">Home</a>
      <a routerLink="/delivery/product" routerLinkActive="activated-route"
        class="text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing">Product</a>
      <a routerLink="/delivery/about" routerLinkActive="activated-route"
        class="text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing">About</a>
      <a routerLink="/delivery/contact-us" routerLinkActive="activated-route"
        class="text-white rounded-md px-3 py-2 text-sm font-medium custom-letter-spacing">Contact</a>
    </div>
  </div>
</nav>

<!-- Profile Sidebar Component -->
<app-profile-sidebar 
  [isSidebarOpen]="isProfileSidebarOpen"
  (sidebarClosed)="onProfileSidebarClosed()">
</app-profile-sidebar>