.container {
    position: relative;
    z-index: 9999 !important;
    background-color: #1F2937;
}

.login-side1-row {
    display: inline-block;
    z-index: 9999 !important;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login-side1-row-logo {
      width: 120px;
    }

 .welcome {
     font-family: "Poppins", sans-serif;
     font-size: 18px;
     font-weight: bold;
     color: white;
 }

 .welcome_des {
     color: #1565C0;
     font-size: 14px;
     font-weight: 500;
 }
 .txt_register {
    width: 100% !important;
    height: 37px;
     color: #ffffff;

     & :hover {
        color: #333333;
         cursor: pointer;
     }
 }
 .des {
     color: gray;
     font-size: 16px;
     & :hover {
         cursor: pointer;
     }

 }

 .input-field {
     outline: 1px solid red;
 }

 .btn-login {
     width: 100px;
     height: auto;
   background-color: white;
   color:#333;
 }
}
::ng-deep input.mat-input-element {
    color: #ffffff;
  }

  @media screen and (max-width: 768px) {

    ::ng-deep .signup-side1-div {
      box-shadow: none !important;
    }
    .login-side2-image {
      display: none !important;
    }
    .login-side1-row {
        display: inline-block;
        z-index: 9999 !important;
        width: 100% !important;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

}

.btn-back {
    width: 150px;
    height: auto;
    background-color: #1F2937;
    box-shadow: rgba(78, 78, 78, 0.35) 0px 5px 15px;
    color: white !important;
    &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
.btn-next {
    width: 150px;
    height: auto;
    background-color: #1F2937;
    box-shadow: rgba(78, 78, 78, 0.35) 0px 5px 15px;
    color: #FFBE2E !important;
    &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.btn-submit {
    width: 100%;
    height: auto;
    background-color: #1F2937;
    box-shadow: rgba(78, 78, 78, 0.35) 0px 5px 15px;
    color: white !important;
    &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.signup-side1-div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px ;
    border-radius: 20px !important;
    background-color: #1F2937 !important;
}

.login-side2-image {
    width: 60px !important;
    height: auto;
    padding: 10px;
}
.login-side1-row {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.new-line {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.btn-animate:hover {
  transform: scale(1.1); // Slight zoom effect
  transition: transform 0.4s ease-in-out; // Smooth animation
}

.logo-text {
  font-size: 16px !important;
  font-weight: bold !important;
  color: white !important;
}