.price-display {
    color: white;
}
.price-range-selector {
    color: white;
}

.card-list-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card-item {
    flex: 1 0 50%;
  }

  .mat-paginator {
    width: 100%;
  }


  .card-list-row {
    width: 100%;
    margin-bottom: 1rem; /* Adjust as needed for the gap between lines */
  }

  .card-gap {

  }

  .pagination-controls {
    margin-top: 16px;
  }

  ::ng-deep .mat-paginator {
    background-color: gray !important; /* Set the background color to gray */
    color: white !important; /* Set the text color to white */
    width: 400px !important;
    border-radius: 20px !important;
    padding: 0 !important;
    font-size: 11px !important;
  }

  .paginator {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding: 0 !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 11px !important;
  }


  /* Add this style for mobile view */
.card-list-container.mobile-view {
  display: flex;
  flex-wrap: wrap;
}

/* Adjust card width for mobile view */
.card-list-container.mobile-view .card-item {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

/* Remove unnecessary gap for mobile view */
.card-list-container.mobile-view .card-list-row {
  display: none;
}

@media (max-width: 1022px) {
  .mobile-view {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.svg-icon path {
  width: 20px;
  height: auto;
  fill: white !important; /* Set the color of the SVG elements */
}
