<div class="bg-gray-800 text-white"  style="min-height: 46vh;">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Return Policy</h1>

        <h2 class="text-2xl font-bold mb-2">Welcome to the Bimbiya.com website. Please read this Return Policy</h2>

        <p class="mb-4">
            If a product is returned to us in an inadequate condition, we reserve the right to send it back to
            you
        </p>

        <p class="mb-4">
            The product must be returned in the original and undamaged manufacturer packaging / box.
        </p>
    </div>
</div>
<app-footer></app-footer>