<div class="bg-gray-800 text-white"  style="min-height: 46vh;">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Return Policy</h1>

        <h2 class="text-2xl font-bold mb-2">Welcome to the Bimbiya.com website. Please read this Return Policy</h2>

        <p class="mb-4">
            If a product is returned to us in an inadequate condition, we reserve the right to send it back to
            you
        </p>

        <p class="mb-4">
            The product must be returned in the original and undamaged manufacturer packaging / box.
        </p>

        <p class="mb-4">
            After receiving your order you should check the order infront of our representative. If one item
or any item related to the order is damaged or expired then submit a complaint infront of our
agent and return the item. Especially goods should be inspected and complaints submitted in
front of our agent. After our agent leaves company will not accept any responsibility regarding
your order.
        </p>
    </div>
</div>
<app-footer></app-footer>