.trending-title {
  text-align: center; // Center align the text
  color: white;
  padding-bottom: 10px;
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
  font-weight: 700;
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px); // Start from the left
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
