.img-banner {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background-image: url('../../../../../assets/images/sub_banner.jpg'); /* Default desktop image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .img-banner {
      height: auto;
      margin-bottom: 10px;
      background-image: url('../../../../../assets/images/sub_banner_mobile.jpg'); /* Mobile image */
  }
}
