
<div class="bg-gray-800 text-white"  style="min-height: 50vh;">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>


        <h2 class="text-2xl font-bold mb-2">Welcome to the Bimbiya.com website. Please read this Terms and conditions</h2>

        <p class="mb-4">
            We may require that you create an account with us or provide personal information to
            complete the creation of an account. We may at any time in our sole and absolute discretion,
            invalidate the username and/or password without giving any reason or prior notice and shall
            not be liable or responsible for any losses suffered by, caused by, arising out of, in connection
            with or by reason of such request or invalidation.
        </p>

        <p class="mb-4">
            You are responsible for maintaining the confidentiality of your user identification, password,
            account details and related private information. You agree to accept this responsibility and
            ensure your account and its related details are maintained securely at all times and all
            necessary steps are taken to prevent misuse of your account. You should inform us immediately
            if you have any reason to believe that your password has become known to anyone else, or if
            the password is being, or is likely to be, used in an unauthorized manner. You agree and
            acknowledge that any use of the Site and related services offered and/or any access to private
            information, data or communications using your account and password shall be deemed to be
            either performed by you or authorized by you as the case may be. You further agree and
            acknowledge that you shall be bound by and agree to fully indemnify us against any and all
            losses arising from the use of or access to the Site through your account.
        </p>
        <p class="mb-4">
            Please ensure that the details you provide us with are correct and complete at all times. You are
            obligated to update details about your account in real time by accessing your account online.
            For pieces of information you are not able to update by accessing Your Account on the Site, you
            must inform us via our customer service communication channels to assist you with these
            changes. We reserve the right to refuse access to the Site, terminate accounts, remove or edit
            content at any time without prior notice to you.
        </p>
        <p class="mb-4">
            We will not be responsible for any business or personal losses or any other indirect or
            consequential loss that is not reasonably foreseeable to both you and us when you commenced
            using the Site.
        </p>
        <p class="mb-4">
            We will do our utmost to ensure that access to the Site is consistently available and is
            uninterrupted and error-free. However, due to the nature of the Internet and the nature of the
            Site, this cannot be guaranteed. Additionally, your access to the Site may also be
            occasionally suspended or restricted to allow for repairs, maintenance, or the introduction of
            new facilities or services at any time without prior notice. We will attempt to limit the
            frequency and duration of any such suspension or restriction.
        </p>
        <p class="mb-4">
            These terms and conditions are governed by and construed in accordance with the laws of
            The Democratic Socialist Republic of Sri Lanka. You agree, as we do, to submit to the
            exclusive jurisdiction of the courts, of Sri Lanka having jurisdiction over the place on which
            our Registered Office is situated at the time of institution of legal proceedings.
        </p>
        <p class="mb-4">
            We will not be held responsible for any delay or failure to comply with our obligations under
            these conditions if the delay or failure arises from any cause which is beyond our reasonable
            control.
        </p>
        <p class="mb-4">
            When you visit the Site, or send e-mails to us, you are communicating with us electronically.
            You will be required to provide a valid phone number while placing an order with us. We may
            communicate with you by e-mail, SMS, phone call or by posting notices on the Site or by any
            other mode of communication we choose to employ.
        </p>
        <p class="mb-4">
            Please read these conditions carefully before placing an order for any products with the Site.
            These conditions signify your agreement to be bound by these conditions.
        </p>
        <p class="mb-4">
            All prices are listed in Rupees and are inclusive of all applicable taxes
        </p>
        <p class="mb-4">
            This section deals with conditions relating to the sale of products or services on the Site.
        </p>
    </div>
</div>
<app-footer></app-footer>