<div class="dashboard_main">
    <div class="div_main_1">
        <div class="div_main_1_title">
            <span class="txt_title">Summery ( {{toDay}} ) </span>
        </div>
        <div class="div_main_1_body">
            <div class="card_1">
 

                <div class="style-box1 l-bg-blue-dark ">
                    <div class="overview_card">
                      <div class="overview_top">
                        <div class="overview_top">
                          <mat-icon class="icon-dash">pending</mat-icon>
                          <p style="display: flex; flex: 1;padding-top: 8px;">Pending Orders</p>
                        </div>
                      </div>
                      <p class="overview_num">2</p>
                      <p class="overview_text">Yet to Delivery</p>
                    </div>
                  </div>
                  

            </div>
            <div class="card_2">
                

                <div class="style-box2  l-bg-cherry">
                    <div class="overview_card">
                      <div class="overview_top">
                        <div>
                          <mat-icon class="icon-dash">block</mat-icon>
                          <p style="display: flex; flex: 1;padding-top: 8px;">Canceled Orders</p>
                        </div>
                      </div>
                      <p class="overview_num">3</p>
                      <p class="overview_text">Canceled by bimbiya</p>
                    </div>
                  </div>


            </div>
            <div class="card_3">


                <div class="style-box3 l-bg-orange-dark ">
                    <div class="overview_card">
                      <div class="overview_top">
                        <div>
                          <mat-icon class="icon-dash">add_task</mat-icon>
                          <p style="display: flex; flex: 1;padding-top: 8px;">Completed Orders</p>
                        </div>
                      </div>
                      <p class="overview_num">4</p>
                      <p class="overview_text">Your completed order with bimbiya</p>
                    </div>
                  </div>


            </div>
        </div>
    </div>
    <div class="div_main_2">
        <div class="dev_table_1">
            
    
        </div>
        <br>
        <div class="dev_table_1">
            

        </div>
        <br>
        <div class="dev_table_1">
            

        </div>

    </div>
    <!-- <div class="div_main_3">
        <div class="dev_table_1">
            
        </div>
        <div class="dev_table_1">
            
        </div>
    </div> -->
</div>
