
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import 'assets/scss/variables';
@import 'assets/scss/common'; 

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 100vw;

}

::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #dbdbdb;
}

@supports(scrollbar-color: red blue) {
    * {
        scrollbar-color: red blue;
        scrollbar-width: 0.1em;
    }
}

button:focus {
    outline: none;
}

.mat-dialog-container {
    background-color: transparent !important; /* Set background to transparent */
    box-shadow: none !important; /* Remove any box shadow */
    border: none !important; /* Remove any border */
    // Add any other styles as needed
  }