
<div class="bg-gray-800 text-white"  style="min-height: 70vh;">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>

        <h2 class="text-2xl font-bold mb-2"> Welcome to the Bimbiya.com website. Please read this Privacy Policy.</h2>

        <p class="mb-4">
            Data protection is a matter of trust and your privacy is important to us. We will only collect
            information where it is necessary for us to do so and we will only collect information if it is
            relevant to our dealings with you.
        </p>
        <p class="mb-4">
            We will only keep your information for as long as we are either required to by law or as is
            relevant for the purposes for which it was collected.
        </p>
        <p class="mb-4">
            We will cease to retain your personal data, or remove the means by which the data can be
            associated with you, as soon as it is reasonable to assume that such retention no longer
            serves the purposes for which the personal data was collected.
        </p>
        <p class="mb-4">
            You can visit the Site and browse without having to provide personal details. During your visit to
            the Site you remain anonymous and at no time can we identify you unless you have an account
            on the Site and log on with your user name and password.
        </p>
        <p class="mb-4">
            We may use your personal information for opinion and market research. Your details are
            anonymous and will only be used for statistical purposes. You can choose to opt out of this at
            any time.
        </p>
        <p class="mb-4">
            We may also send you other information about us, the Site, our other websites, our products,
            sales promotions and our newsletters
        </p>
        <p class="mb-4">
            We have in place appropriate technical and security measures to prevent unauthorized or
            unlawful access to or accidental loss of or destruction or damage to your information. Our
            security procedures mean that we may occasionally request proof of identity before we disclose
            personal information to you. You are responsible for protecting against unauthorized access to
            your password and to your computer.
        </p>
        <p class="mb-4">
            If you are concerned about your data, you have the right to request access to the personal data
            which we may hold or process about you. You have the right to require us to correct any
            inaccuracies in your data free of charge.
        </p>
        <p class="mb-4">
            We do not sell products to minors, individuals below the age of 18, on the Site and we do not
            knowingly collect any personal data relating to minors.
        </p>
        <p class="mb-4">
            We will not be responsible for any unauthorized use of your account on the Site by yourself,
            users who act on your behalf or any unauthorized users. It is your responsibility
        </p>
    </div>
</div>
<app-footer></app-footer>