<!-- component -->
<footer class="bg-gray-800">
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
        <img src="../../../../../assets/images/bimbiya_white.png" class="mr-5" style="height: 35px ; width: auto;" alt="logo" />
          <p class="max-w-xs mt-4 text-sm text-white">
            If you are gentlemen, when you drink alcohol, you must have our bitepackage on your table.
          </p>
          <div class="flex mt-8 space-x-6 text-gray-200">
            <a class="hover:text-white" class="image-dev" href="https://www.facebook.com/profile.php?id=61564990600751&mibextid=ZbWKwL" target="_blank" rel="noreferrer">
              <span class="sr-only"> Facebook </span>

              <img class="w-6 h-6" src="../assets/icons/facebook.svg" alt="Image 2" >
            </a>
            <a class="hover:text-white"  class="image-dev" href="https://www.instagram.com/bimbiya_?igsh=MXEyNmNrZTF4djZ5dw==" target="_blank" rel="noreferrer">
              <span class="sr-only"> Instagram </span>
              
              <img class="w-6 h-6"  src="../assets/icons/instagram.svg" alt="Image 2" >
            </a>
            <a class="hover:text-white" class="image-dev" href="https://www.tiktok.com/@bimbiya_?_t=8jsmj2z1AGt&_r=1" target="_blank" rel="noreferrer">
              <span class="sr-only"> Tik-Tok </span>
              <img class="w-6 h-6"   src="../assets/icons/tiktok.svg" alt="Image 2" >
            </a>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
            <div>
            
              </div>
          <div>
            <p class="text-lg" style="color: #6C6C6C;font-weight: 500;">
             Contact
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
              <a class="hover:text-white"  style="cursor: pointer;"(click)="contactUs()"> Contact </a>
            </nav>
          </div>
          <div>
            <p class="text-lg " style="color: #6C6C6C; font-weight: 500;">
              Legal
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
              <a class="hover:text-white"  style="cursor: pointer;"(click)="privacyPolicy()"> Privacy Policy </a>
              <a class="hover:text-white"  style="cursor: pointer;"(click)="termAndCondition()"> Terms &amp; Conditions </a>
              <a class="hover:text-white"  style="cursor: pointer;" (click)="returnPolicy()"> Returns Policy </a>
            </nav>
          </div>
          <div>
            <p class="text-lg" style="color: #6C6C6C;font-weight: 500;">
              Helpful Links
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-300">
             
              <a class="hover:text-white" style="cursor: pointer;" (click)="faq()"> FAQs </a>
            </nav>
          </div>
          
        </div>
      </div>

    </div>
    <p class="mt-8 text-xs text-gray-200 text-center">
        © 2024 Wizlab Solution
      </p>
  </footer>
  